#nav-container, #nav-container nav div, #nav-container #contact ul, #nav-2, #nav-2 ul:first-child, #customer-color {
  content: '';
  display: block;
  clear: both;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

@media all and (min-width: 950px) {
  #nav-container {
    height: 150px;
  }
}
#nav-container nav {
  padding: 0 10px;
  margin: auto 0;
  box-sizing: border-box;
}
@media all and (min-width: 950px) {
  #nav-container nav {
    padding-left: 0;
    width: 30%;
    float: left;
  }
}
#nav-container nav div {
  width: 390px;
  margin: 0 auto;
  padding-top: 10px;
}
@media all and (max-width: 650px) {
  #nav-container nav div {
    width: 310px;
  }
}
#nav-container nav div a img {
  width: 140px;
}
@media all and (max-width: 650px) {
  #nav-container nav div a img {
    width: 110px;
  }
}
#nav-container nav div h1 {
  color: #008080;
  float: right;
  line-height: 85px;
  margin-top: 32px;
  text-transform: uppercase;
}
@media all and (max-width: 650px) {
  #nav-container nav div h1 {
    font-size: 20px;
    line-height: 48px;
  }
}
#nav-container #contact ul {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  margin-bottom: 0;
}
@media all and (min-width: 950px) {
  #nav-container #contact ul {
    width: 70%;
  }
}
@media all and (min-width: 950px) {
  #nav-container #contact ul #right-contact {
    width: 60%;
  }
}

.phone-img {
  padding-right: 20px;
}

#contact {
  margin: 0 auto;
  box-sizing: border-box;
}
@media all and (min-width: 950px) {
  #contact {
    float: right;
    width: 70%;
    height: 110px;
    line-height: 110px;
  }
}
#contact:after {
  content: '';
  display: block;
  clear: both;
}
@media all and (min-width: 650px) {
  #contact #left-contact {
    float: left;
  }
  #contact hr {
    display: none;
  }
  #contact #right-contact {
    float: right;
  }
}
#contact ul {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
@media all and (min-width: 950px) {
  #contact ul {
    max-width: 510px;
    float: right;
  }
}
#contact ul li {
  display: inline-block;
  margin-right: 15px;
}
#contact ul li p {
  line-height: 60%;
  font-size: 14px;
}
#contact div {
  width: 200px;
}
#contact a img {
  width: 25px;
}

#nav-2 {
  background-color: #333;
  height: 80px;
}
@media all and (max-width: 900px) {
  #nav-2 ul:last-child {
    display: none;
    padding-left: 0;
    z-index: 50;
    position: relative;
    text-align: center;
    margin-top: 60px;
  }
  #nav-2 ul:last-child:after {
    content: '';
    display: block;
    clear: both;
  }
}
@media all and (min-width: 900px) {
  #nav-2 ul:last-child {
    padding-top: 0;
    float: left;
    margin-top: 25px;
  }
}
#nav-2 ul:last-child li {
  text-decoration: none;
  background-color: #008080;
  padding: 5px 18px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 20px;
}
@media all and (max-width: 900px) {
  #nav-2 ul:last-child li {
    padding: 20px 0;
    border: 1px solid #333;
    border-radius: none;
    margin: 0;
    width: 100%;
  }
}
#nav-2 ul:last-child li a {
  color: #fff;
  text-decoration: none;
}
#nav-2 ul:first-child {
  padding-top: 8px;
  line-height: 80px;
}
@media all and (min-width: 900px) {
  #nav-2 ul:first-child {
    width: 25%;
    float: right;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: none;
  }
}
#nav-2 ul:first-child #menu {
  float: left;
  width: 50px;
}
@media all and (min-width: 900px) {
  #nav-2 ul:first-child #menu {
    display: none;
  }
}
#nav-2 ul:first-child .social-media {
  float: right;
  width: 30px;
}
#nav-2 ul:first-child li:nth-of-type(1) {
  margin-right: 5px;
}
#nav-2 ul:first-child li {
  display: inline-block;
  margin-right: 15px;
  height: 60px;
}
@media all and (min-width: 900px) {
  #nav-2 ul:first-child li {
    margin-right: 12px;
    float: right;
  }
}
#nav-2 ul:first-child li a img {
  width: 25px;
}

#main-image {
  position: relative;
}
#main-image:after {
  content: '';
  display: block;
  clear: both;
}
#main-image ul {
  margin: 0;
  padding: 0;
}
#main-image ul li {
  list-style: none;
  margin: 0;
}
#main-image img {
  display: block;
  max-width: 100%;
  display: none;
}
#main-image h1 {
  position: absolute;
  top: 50%;
  left: 22%;
  width: 70%;
  display: block;
  margin: 0 auto;
  color: white;
}

article {
  background-image: url(../images/tweed.png);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
@media all and (min-width: 900px) {
  article {
    height: 700px;
  }
  article #article-margin {
    padding-top: 8%;
  }
}
@media all and (min-width: 800px) {
  article {
    padding: 30px 50px;
  }
}
article:after {
  content: '';
  display: block;
  clear: both;
}
@media all and (min-width: 1024px) {
  article #article-heading-box {
    width: 30%;
    float: left;
    margin-top: 100px;
  }
}
article #article-heading-box p {
  color: white;
}
@media all and (min-width: 1024px) {
  article #article-heading-box p {
    margin-bottom: 150px;
  }
}
article #article-heading-box h1 {
  font-size: 25px;
  color: white;
}
@media all and (min-width: 1024px) {
  article #article-heading-box h1 {
    font-size: 30px;
  }
}
article #article-heading-box h2 {
  font-size: 20px;
  color: white;
}
article #article-heading-box img {
  width: 60px;
}

.four-boxes {
  border: 1px solid #fff;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  box-sizing: border-box;
}
.four-boxes h1 {
  font-size: 20px;
}
.four-boxes img {
  float: left;
  width: 60px;
}
@media all and (min-width: 800px) {
  .four-boxes {
    width: 48%;
  }
}

.four-boxes:hover {
  background-color: #008080;
}

.repair-box:after {
  content: '';
  display: block;
  clear: both;
}
@media all and (min-width: 1024px) {
  .repair-box {
    width: 68%;
    float: right;
  }
}
.repair-box h1 {
  font-size: 20px;
  color: white;
  margin: 0;
}
.repair-box h2 {
  color: white;
  font-size: 16px;
  margin: 0;
}

@media all and (min-width: 800px) {
  #article-1-box {
    margin-top: 130px;
  }
}

@media all and (min-width: 800px) {
  #left-article-1-box {
    float: left;
  }
}

@media all and (min-width: 800px) {
  #right-article-1-box {
    float: right;
  }
}

@media all and (min-width: 800px) {
  #left-article-2-box {
    float: left;
  }
}

@media all and (min-width: 800px) {
  #right-article-2-box {
    float: right;
  }
}

#services-main-box:after {
  content: '';
  display: block;
  clear: both;
}
@media all and (min-width: 750px) {
  #services-main-box {
    padding: 0 50px;
  }
}
@media all and (min-width: 900px) {
  #services-main-box {
    height: 700px;
    margin: auto 0;
    padding: 0;
  }
}
#services-main-box h1 {
  font-size: 25px;
  text-align: center;
}

#our-services {
  font-size: 20px;
  margin-bottom: 10px;
}
@media all and (min-width: 900px) {
  #our-services {
    margin-bottom: 100px;
    margin-top: 30px;
  }
}

#services {
  padding: 10px;
}

.service-box {
  position: relative;
  padding-bottom: 5px;
  border: 1px solid #ccc;
}
.service-box h1 {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 38px;
}
.service-box ul li:last-child {
  background-color: #333;
  padding: 7px 22px;
}
.service-box ul li:first-child a {
  color: #000;
}
.service-box ul li {
  display: inline-block;
  padding: 7px 15px;
  margin-right: 10px;
  border: 1px solid #333;
}
.service-box ul li a {
  text-decoration: none;
  color: white;
}
.service-box ul li img {
  width: 12px;
}
.service-box ul img {
  max-width: 100%;
}
.service-box img {
  max-width: 100%;
}
.service-box span {
  background-color: #008080;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  font-size: 25px;
}

#service-1-info, #service-2-info, #service-3-info, #service-4-info {
  width: inherit;
  height: inherit;
  max-width: 100%;
  max-height: 100%;
  background-color: #000000;
  opacity: 0.7;
  display: none;
  position: absolute;
  top: 0;
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 300px;
}

#service-left-box:after {
  content: '';
  display: block;
  clear: both;
}

#service-1:after, #service-2:after {
  content: '';
  display: block;
  clear: both;
}
@media all and (min-width: 750px) {
  #service-1, #service-2 {
    width: 45%;
  }
}

#service-1 {
  position: relative;
  margin-bottom: 20px;
}
@media all and (min-width: 750px) {
  #service-1 {
    float: left;
    margin-left: 30px;
  }
}
#service-1 .worker-name {
  text-align: center;
  margin-top: 0;
}
#service-1 .worker-name li {
  border: none;
  margin: 0;
}
#service-1 .worker-name li:last-child {
  border: none;
  background-color: #fff;
  color: red;
}
#service-1 .worker-name li:last-child h3 {
  margin: 0;
  border: none;
}

#service-2 .worker-name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}
#service-2 .worker-name li {
  border: none;
  margin: 0;
}
#service-2 .worker-name li:last-child {
  border: none;
  background-color: #fff;
  color: red;
}
#service-2 .worker-name li:last-child h3 {
  margin: 0;
  border: none;
}
@media all and (min-width: 750px) {
  #service-2 {
    float: right;
  }
}

@media all and (min-width: 750px) {
  #service-3, #service-4 {
    width: 45%;
  }
}

#service-3 .worker-name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}
#service-3 .worker-name li {
  border: none;
  margin: 0;
}
#service-3 .worker-name li:last-child {
  border: none;
  background-color: #fff;
  color: red;
}
#service-3 .worker-name li:last-child h3 {
  margin: 0;
  border: none;
}
@media all and (min-width: 750px) {
  #service-3 {
    float: left;
  }
}

#service-4 .worker-name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}
#service-4 .worker-name li {
  border: none;
  margin: 0;
}
#service-4 .worker-name li:last-child {
  border: none;
  background-color: #fff;
  color: red;
}
#service-4 .worker-name li:last-child h3 {
  margin: 0;
  border: none;
}
@media all and (min-width: 750px) {
  #service-4 {
    float: right;
  }
}

#service-left-box, #service-right-box {
  box-sizing: border-box;
}
#service-left-box:after, #service-right-box:after {
  content: '';
  display: block;
  clear: both;
}
@media all and (min-width: 1024px) {
  #service-left-box, #service-right-box {
    width: 48%;
  }
}

@media all and (min-width: 1024px) {
  #service-left-box {
    float: left;
    margin-right: 40px;
  }
}

@media all and (min-width: 1024px) {
  #service-right-box {
    float: left;
  }
}

.worker-name li {
  border: none;
  background-color: none;
}
.worker-name li h3 {
  border: none;
}

#customer-color {
  background-color: #333b4a;
}
@media all and (min-width: 1024px) {
  #customer-color {
    height: 800px;
  }
}
#customer-color #customers-main-box {
  padding: 15px;
}
#customer-color #customers-main-box #customer-720:after {
  content: '';
  display: block;
  clear: both;
}
#customer-color #customers-main-box #customer-720 h1 {
  font-size: 25px;
  color: white;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
  border-bottom: 5px solid #008080;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 80%;
}
@media all and (min-width: 900px) {
  #customer-color #customers-main-box #customer-720 h1 {
    margin-top: 80px;
    margin-bottom: 150px;
  }
}
#customer-color #customers-main-box #customer-720 #customer-left:after {
  content: '';
  display: block;
  clear: both;
}
@media all and (min-width: 1024px) {
  #customer-color #customers-main-box #customer-720 #customer-left {
    width: 49%;
    float: left;
    box-sizing: border-box;
  }
}
#customer-color #customers-main-box #customer-720 #customer-left #customer1 {
  border: 1px solid #008080;
  margin-bottom: 5px;
  text-align: center;
  padding: 10px;
  margin-bottom: 60px;
}
@media all and (min-width: 800px) {
  #customer-color #customers-main-box #customer-720 #customer-left #customer1 {
    width: 45%;
    float: left;
  }
}
#customer-color #customers-main-box #customer-720 #customer-left #customer1 .profile-img {
  border-radius: 50%;
  position: relative;
  top: -50px;
}
#customer-color #customers-main-box #customer-720 #customer-left #customer1:after {
  content: '';
  display: block;
  clear: both;
}
#customer-color #customers-main-box #customer-720 #customer-left #customer1 div {
  vertical-align: center;
  width: 270px;
  margin: 0 auto;
}
#customer-color #customers-main-box #customer-720 #customer-left #customer1 div h3 {
  padding: 0;
  height: 50px;
  float: left;
  text-align: center;
}
#customer-color #customers-main-box #customer-720 #customer-left #customer1 div img {
  width: 150px;
  display: block;
  float: right;
}
#customer-color #customers-main-box #customer-720 #customer-left #customer2 {
  border: 1px solid #008080;
  text-align: center;
  margin-bottom: 5px;
  padding: 10px;
  margin-bottom: 60px;
}
@media all and (min-width: 800px) {
  #customer-color #customers-main-box #customer-720 #customer-left #customer2 {
    width: 48%;
    float: right;
    box-sizing: border-box;
  }
}
#customer-color #customers-main-box #customer-720 #customer-left #customer2 .profile-img {
  border-radius: 50%;
  position: relative;
  top: -50px;
}
#customer-color #customers-main-box #customer-720 #customer-left #customer2:after {
  content: '';
  display: block;
  clear: both;
}
#customer-color #customers-main-box #customer-720 #customer-left #customer2 div {
  vertical-align: center;
  width: 270px;
  margin: 0 auto;
}
#customer-color #customers-main-box #customer-720 #customer-left #customer2 div h3 {
  padding: 0;
  height: 50px;
  float: left;
  text-align: center;
}
#customer-color #customers-main-box #customer-720 #customer-left #customer2 div img {
  width: 130px;
  display: block;
  float: right;
}
#customer-color #customers-main-box #customer-720 #customer-left #customer2 h3 img {
  width: 150px;
}
@media all and (min-width: 1024px) {
  #customer-color #customers-main-box #customer-720 #customer-right {
    width: 49%;
    float: right;
  }
}
#customer-color #customers-main-box #customer-720 #customer-right:after {
  content: '';
  display: block;
  clear: both;
}
#customer-color #customers-main-box #customer-720 #customer-right #customer3 {
  border: 1px solid #008080;
  margin-bottom: 5px;
  text-align: center;
  padding: 10px;
  margin-bottom: 60px;
}
#customer-color #customers-main-box #customer-720 #customer-right #customer3 .profile-img {
  border-radius: 50%;
  position: relative;
  top: -50px;
}
@media all and (min-width: 800px) {
  #customer-color #customers-main-box #customer-720 #customer-right #customer3 {
    width: 45%;
    float: left;
  }
}
#customer-color #customers-main-box #customer-720 #customer-right #customer3:after {
  content: '';
  display: block;
  clear: both;
}
#customer-color #customers-main-box #customer-720 #customer-right #customer3 div {
  vertical-align: center;
  width: 270px;
  margin: 0 auto;
}
#customer-color #customers-main-box #customer-720 #customer-right #customer3 div h3 {
  padding: 0;
  height: 50px;
  float: left;
  text-align: center;
}
#customer-color #customers-main-box #customer-720 #customer-right #customer3 div img {
  width: 130px;
  display: block;
  float: right;
}
#customer-color #customers-main-box #customer-720 #customer-right #customer3 h3 img {
  width: 150px;
}
#customer-color #customers-main-box #customer-720 #customer-right #customer4 {
  border: 1px solid #008080;
  text-align: center;
  padding: 10px;
}
@media all and (min-width: 800px) {
  #customer-color #customers-main-box #customer-720 #customer-right #customer4 {
    width: 45%;
    float: right;
  }
}
#customer-color #customers-main-box #customer-720 #customer-right #customer4 .profile-img {
  border-radius: 50%;
  position: relative;
  top: -50px;
}
#customer-color #customers-main-box #customer-720 #customer-right #customer4:after {
  content: '';
  display: block;
  clear: both;
}
#customer-color #customers-main-box #customer-720 #customer-right #customer4 div {
  vertical-align: center;
  width: 270px;
  margin: 0 auto;
}
#customer-color #customers-main-box #customer-720 #customer-right #customer4 div h3 {
  padding: 0;
  height: 50px;
  float: left;
  text-align: center;
}
#customer-color #customers-main-box #customer-720 #customer-right #customer4 div img {
  width: 150px;
  display: block;
  float: right;
}
#customer-color #customers-main-box #customer-720 #customer-right #customer4 h3 img {
  width: 150px;
}

@media all and (min-width: 900px) {
  #map-main-container {
    height: 700px;
  }
}
#map-main-container:after {
  content: '';
  display: block;
  clear: both;
}
#map-main-container h1 {
  font-size: 25px;
  text-align: center;
}
@media all and (min-width: 900px) {
  #map-main-container h1 {
    margin-bottom: 150px;
  }
}
#map-main-container #maps:after {
  content: '';
  display: block;
  clear: both;
}
@media all and (min-width: 750px) {
  #map-main-container #maps {
    width: 70%;
    float: right;
  }
}
#map-main-container #maps #map-container {
  max-width: 100%;
  height: 350px;
}
#map-main-container #maps select {
  width: 120px;
}

footer {
  background-color: #36404b;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer:after {
  content: '';
  display: block;
  clear: both;
}
@media all and (min-width: 780px) {
  footer #footer-left-box {
    float: left;
    width: 50%;
  }
}
@media all and (min-width: 1024px) {
  footer #footer-left-box #left-contactus {
    width: 50%;
    float: left;
  }
  footer #footer-left-box #left-contactus ul {
    padding-left: 20px;
  }
  footer #footer-left-box #left-contactus ul li {
    line-height: 25px;
  }
  footer #footer-left-box #left-contactus ul li span {
    color: #e74c3c;
  }
}
@media all and (min-width: 1024px) {
  footer #footer-left-box #left-services {
    width: 50%;
    float: right;
  }
  footer #footer-left-box #left-services li {
    line-height: 40px;
  }
}
@media all and (min-width: 780px) {
  footer #footer-right-box {
    float: right;
    width: 50%;
  }
}
@media all and (min-width: 1024px) {
  footer #footer-right-box #right-support {
    width: 40%;
    float: left;
  }
  footer #footer-right-box #right-support ul li {
    line-height: 40px;
  }
}
@media all and (min-width: 1024px) {
  footer #footer-right-box #search-box {
    width: 50%;
    float: right;
  }
}
footer div p {
  width: 320px;
  color: white;
}
@media all and (min-width: 780px) {
  footer div p {
    width: 250px;
  }
}
footer div h3 {
  color: white;
  text-transform: uppercase;
}
footer ul {
  list-style-image: url(../images/tick.png);
}
footer ul li {
  color: white;
}
footer #search-box form div {
  max-width: 100%;
}
footer #search-box form div h1 {
  font-size: 22px;
}
footer #search-box form div textarea {
  width: 200px;
  border-radius: 4px;
}
footer #search-box input:not(#footer-submit) {
  width: 200px;
  height: 25px;
  border-radius: 4px;
  margin-bottom: 10px;
}

#footer-submit {
  margin-top: 10px;
  padding: 5px 25px;
  border-radius: 3px;
  background-color: #e74c3c;
  color: white;
  font-size: 15px;
  pointer: cursor;
}

/*# sourceMappingURL=styles.css.map */
