@import 'colors';
@import 'mixins';
$primaryColor: #008080;
$primaryFont:'Open Sans', sans-serif;
// @import 'susy';


%clear{
	content:'';
	display:block;
	clear:both;
}

body{
	margin:0;
	font: {
		family: $primaryFont; // variables 
	}
	h3{
		font-size:18px;
	}
}

#nav-container{
	@extend %clear;
	@include mscreen-950{
	height:150px;
	}
	nav{
		padding:0 10px;
		margin:auto 0;
		box-sizing:border-box;
		
		// @extend %clear;
		@include mscreen-950{
			 padding-left:0;
			 width:30%;
			 float:left;
		}

		div{
			@include lscreen-650{
				width:310px;
			}
			width:390px;
			margin:0 auto;
			// float:left;
			@extend %clear;
			padding-top:10px;

			a{
				img{
					width:140px;
					@include lscreen-650{
						width:110px;
					}

				}
			}
			h1{
				@include lscreen-650{
						font-size:20px;
						line-height:48px;
					}
					font-size: 25px;

				color: $primaryColor;
				float: right;
				line-height:85px;
				margin-top: 32px;
				text-transform: uppercase;
			}
		}
	}

	#contact{
		
		ul{
		margin:0 auto;
		width: 60%;
		text-align: center;
		@extend %clear;
		margin-bottom: 0;
			@include mscreen-950{
					width:80%;
				}

			#left-contact{
				li{

				}
				li{
					p{
						
					}
					b{

					}
					p{

					}
				}
			}
			#right-contact{ 
				@include mscreen-950{
					width:60%;
				}
				li{

				}
				li{

					p{
						b{

						}
					}
				}
			}
		}
	}
}


// #nav-2{
// 	background-color:#333;
// 	height:80px;
// 	@extend %clear;
// 	#social-media-ul{
// 		padding-top:8px;
//  		line-height: 80px;
//  		margin-top: 0;
//  		@extend %clear;
//  		@include mscreen-900{
//  			width:40%;
//  			float:right;
//  		}
//  		.social-media{
//  			float: right;
//  			width:40px;
//  		}
// 		li{
// 			display: inline-block;
// 			margin-right:15px;
// 			@include mscreen-900{
// 				margin-right: 12px;
// 				float:right; 
// 			}
// 			a{
// 				img{
// 					width:23px;
// 				}
// 			}

// 		}
// 		#menu{
// 			float:left;
//  			width:50px;
//  			@include mscreen-900{
//  				display: none;
//  			}
// 		}
// 	}
// 	#home-menu{
// 		@include lscreen-900{
// 			display: none;
// 		}
// 		li{
// 			a{

// 			}
// 		}

// 	}
// }

































// #nav-container{
	
// 	// &:after{
// 	// 	content: '';
// 	// 		display: block;
// 	// 		clear: both;
// 	// }
// }
// nav {
// 	// padding:0 10px;
// 	// margin:auto 0;
// 	// &:after{
// 	// 		content: '';
// 	// 		display: block;
// 	// 		clear: both;
// 	// 	}

// 	// @media all and (min-width:950px){
// 	//  padding-left:0;
// 	//  width:28%;
// 	//  float: left;
// 	}

// 	div{
// 		// width:300px;
// 		// margin:0 auto;

// 		// @media all and (min-width:950px){

// 		// }

// 		// &:after{
// 		// 	content: '';
// 		// 	display: block;
// 		// 	clear: both;
// 		// }
// 	}

// 		a {
// 			img{
// 			width:120px;

// 			}
// 		}

// 		h1{
// 			color: $primaryColor;
// 			float: right;
// 			line-height:65px;
// 			margin-top: 32px;


// 		}
// // }

.phone-img{
	padding-right:20px;
}
#contact{

	margin:0 auto;
	box-sizing: border-box;
	@media all and (min-width:950px){
		float:right;
		width:70%;
		height:110px;
		line-height: 110px;
	}

	&:after{
		content: '';
		display: block;
		clear: both;
	}
	#left-contact{
	
	}
	#right-contact{

	}

	@media all and (min-width:650px){

		#left-contact{
			float:left;
			width:40%
		}
		hr{
			display: none;
		}
		#right-contact{
			float:right;
			width:60%;
		}
	}

	ul{
	
		margin:0 auto;
		width: 60%;
		text-align: center;
		@media all and (min-width:950px){
			max-width:510px;
			float: right;
		}

		li{
			display: inline-block;
			margin-right: 15px;
			p{
				line-height: 60%;
				font-size: 14px;
			}
		}
	}

	// div{
	// 	width:200px;

	// }

		a{
			img{
				width:25px;
			 }
		}
}

#nav-2{
	background-color:#333;
	height:80px;
	@extend %clear;
	@media all and(min-width:900px){

	}
	ul{
		
	}
	ul:last-child{
		@media all and (max-width:900px){
			display:none;
			padding-left:0;
			z-index: 50;
			position:relative;
			text-align: center;
			margin-top:60px;
			&:after{
			content: '';
			display: block;
			clear:both;
		}

		}
		@media all and (min-width:900px){
			padding-top:0;
			float:left;
			margin-top:25px;

		}
		li{
			text-decoration: none;
			background-color:$primaryColor;
			padding:5px 18px;
			border-radius:5px;
			display: inline-block;
			margin-right:20px;
			
			@media all and (max-width:900px){
				padding:20px 0;
				border:1px solid #333;
				border-radius:none;
				margin:0;
				width:100%;
				
			}
			// &:hover{
			// 		color:red;
			// 	}
			a{
				color:#fff;
				text-decoration: none;

			}
		}
	}

	ul:first-child{
		padding-top:8px;
		line-height: 80px;
		@extend %clear;
		@media all and(min-width:900px){
			width:25%;
			float:right;
			margin-bottom: 0;
			padding-bottom: 0;
			line-height: none;
		}

		#menu{
		float:left;
		width:50px;
		@media all and (min-width:900px){
			display: none;
			}
		}
		.social-media{
				float: right;
				width:30px;

			}
		li:nth-of-type(1){
			margin-right: 5px;
		}

		li{
			display: inline-block;
			margin-right: 15px;
			height:60px;



			@media all and (min-width:900px){
			margin-right:12px;
			float:right;
			}

			a{
				img{
					width:25px;


				}
			}

		}
	}
}


// .slider{
// 	background-image:url(..images/loading.gif);
// 	background-repeat:no-repeat;
// 	background-position:center;
// }
#main-image{
	&:after{
		content: '';
		display: block;
		clear:both;
	}
	ul{
		margin:0;
		padding: 0;
		li{
			list-style: none;
			margin:0;
		}
	}
	position:relative;
	img{
		display:block;
		max-width: 100%;
		display: none;
		}
	h1{
		position:absolute;
		top:50%;
		left:22%;
		width:70%;
		display: block;
		margin: 0 auto;
		
		color: white;
	}
}


article{
	background-image:url(../images/tweed.png);
	text-align:center;
	padding:20px;
	box-sizing:border-box;
	text-align:center;
	@media all and(min-width:900px){
		height:700px;
		#article-margin{
		padding-top:8%;
		
		}
	}
	

	@media all and (min-width:800px){
		padding:30px 50px;
	}
	&:after{
		content: '';
		display: block;
		clear:both;
	}

	#article-heading-box{
		@media all and (min-width:1024px){
			width:30%;
			float: left;
			margin-top: 100px;
		}
		
		p{
			color: white;
		@media all and (min-width:1024px){
			margin-bottom: 150px;
			}
		}
		h1{
			font-size:22px;
			color:white;
			@media all and(min-width:1024px){
			font-size:30px;
			}
		}
		h2{
			font-size:20px;
			color:white;
		}
		img{
			width:60px;
		}
	}
}
.four-boxes{
	border: 1px solid #fff;
	padding:15px;
	margin-bottom:15px;
	cursor:pointer;
	box-sizing:border-box;
	h1{
		font-size:20px;
	}
	img{
		float: left;
		width: 60px;
	}
	@media all and (min-width:800px){
		width: 48%;
	}
}
.four-boxes:hover{
	background-color:$primaryColor;
}
.repair-box{
	&:after{
		content: '';
		display: block;
		clear:both;
	}
	@media all and(min-width:1024px){
		width:68%;
		float: right;
	}
		h1{
			font-size:20px;
			color: white;
			margin:0;

		}
		h2	{
			color: white;
			font-size: 16px;
			margin: 0;
		}
	}
#article-1-box{
	@media all and (min-width:800px){
	margin-top:130px;
	}
}

#left-article-1-box{
	@media all and (min-width:800px){
		float:left;
	}
}
#right-article-1-box{
	@media all and (min-width:800px){
		float:right;
	}
}
#left-article-2-box{
	@media all and (min-width:800px){
		float:left;
	}
}
#right-article-2-box{
	@media all and (min-width:800px){
		float:right;
	}
}



#services-main-box{
	&:after{
			content: '';
			display: block;
			clear: both;
		}
	@media all and (min-width: 750px){
		padding:0 50px;
	}

	@media all and(min-width:900px){
		height:700px;
		margin:auto 0;
		padding:0;
	}
	h1{
		font-size:20px;
		text-align:center;
		margin-top: 20px;
		margin-bottom: 30px;
		text-transform: uppercase;

	}
	
}
#our-services{
	 font-size:20px;
	 margin-bottom:10px;
	 @media all and(min-width:900px){
				margin-bottom:100px;
				margin-top: 30px;
			}
}

#services{
	padding:10px;

}
.service-box{
	position:relative;
	padding-bottom:5px;
	border:1px solid #ccc;
	h1{
		font-size: 20px;
		margin-top: 10px;
		margin-left: 38px;
		
	}
	ul{
		li:last-child{
			background-color:#333;
			padding:7px 22px;

		}
		li:first-child{
			a{
				color:#000;
			}
		}
		li{
			display: inline-block;
			padding:7px 15px;
			margin-right: 10px;
			border:1px solid #333;
			// text-transform: uppercase;

			a{
				text-decoration: none;
				color:white;
			}

			img{
				width:12px;
			}
		}

		img{
			max-width:100%;

		}
}

	img{
		max-width:100%;

	}
	span{
		// display: block;
		background-color:$primaryColor;
		padding:10px;
		position:absolute;
		right:0;
		top:0;
		color: white;
		font-size: 25px;
	}
}
#service-1-info,#service-2-info,#service-3-info,#service-4-info{
	width:inherit;
	height:inherit;
	max-width:100%;
	max-height:100%;
	background-color:#000000;
	opacity:0.7;
	display	:none;
	position:absolute;
	top:0;
	color:white;
	text-align:center;
	font-size:20px;
	line-height:300px;

}

#service-left-box{
	&:after{
		content: '';
		display: block;
		clear:both;
	}
}
#service-1,#service-2{
  &:after{
    content: '';
    display: block;
    clear:both;
	}
	
	@media all and (min-width:750px){
		width:45%;
	}
}
#service-1{
	position:relative;
	margin-bottom:20px;
	@media all and (min-width: 750px){
		float:left;
		margin-left: 30px;
	}
	.worker-name{
		text-align: center;
		margin-top:0;
		li{
			border:none;
			margin: 0;

		}
	li:last-child{
		border:none;
		background-color:#fff;
		color:red;
		h3{
			margin:0;
			border:none;
			}


		}
	}
}
#service-2{
	.worker-name{
		text-align: center;
		margin-top:0;
		margin-bottom: 20px;
		li{
			border:none;
			margin: 0;

		}
	li:last-child{
		border:none;
		background-color:#fff;
		color:red;
		h3{
			margin:0;
			border:none;
			}


		}
	}
	@media all and (min-width: 750px){
		float:right;
	}
}
#service-3,#service-4{
	&:after{
    content: '';
    display: block;
    clear:both;
	}

	@media all and (min-width:750px){
		width:45%;
	}
}
#service-3{
	.worker-name{
		text-align: center;
		margin-top:0;
		margin-bottom: 20px;
		li{
			border:none;
			margin: 0;

		}
	li:last-child{
		border:none;
		background-color:#fff;
		color:red;
		h3{
			margin:0;
			border:none;
			}


		}
	}
	@media all and (min-width: 750px){
		float:left;
	}
}
#service-4{
	.worker-name{
		text-align: center;
		margin-top:0;
		margin-bottom:20px;
		li{
			border:none;
			margin: 0;

		}
	li:last-child{
		border:none;
		background-color:#fff;
		color:red;
		h3{
			margin:0;
			border:none;
			}


		}
	}
	@media all and (min-width: 750px){
		float:right;
	}
}

#service-left-box,#service-right-box{
  &:after{
    content: '';
    display: block;
    clear:both;
  }
  box-sizing:border-box;
	@media all and (min-width:1024px){
		width:48%;
	}
}

#service-left-box{
	@media all and (min-width:1024px){
		float:left;
		margin-right:40px;
	}
}
#service-right-box{
	@media all and (min-width:1024px){
		float:left;
	}
}

// #services-main-box{
// 	&:after{
// 			content: '';
// 			display: block;
// 			clear: both;
// 		}
// 	@media all and (min-width: 750px){
// 		padding:0 50px;
// 	}
// }
.worker-name{
	li{
		border:none;
		background-color:none;
		h3{
			border:none;
		}


	}
}


#customer-color{
	background-color:#333b4a;
	@extend %clear;
	@media all and(min-width:1024px){
		height: 800px;
	}
	h1{

	}
	#customers-main-box{
		padding:15px;
		#customer-720{
			&:after{
						content: '';
						display: block;
						clear: both	;
					}
			h1{
				font-size: 25px;
				color: white;
				margin:0 auto;
				text-align: center;
				margin-bottom:80px;
				border-bottom:5px solid #008080;
				padding-bottom:20px;
				padding-top:20px;
				width:80%;
				@media all and(min-width:900px){
					margin-top: 80px;
					margin-bottom:150px;
				}

			}
			#customer-left{
				&:after{
						content: '';
						display: block;
						clear: both	;
					}
				@media all and(min-width:1024px){
					width:49%;
					float:left;
					box-sizing:border-box;

				}

				#customer1{
					border:1px solid #008080;
					margin-bottom: 5px;
					text-align:center;
					padding:10px;
					margin-bottom:60px;
					@media all and(min-width:800px){
						width:45%;
						float:left;
					}

					.profile-img{
						border-radius:50%;
						position:relative;
						top:-50px;
					}
					&:after{
						content: '';
						display: block;
						clear: both	;
					}
					div{
						vertical-align: center;
						width:270px;
						margin:0 auto;

						h3{
							padding:0;
							height:50px;
							float:left;
							text-align: center;
							
						}
						img{
								width:150px;
								display: block;
								float:right;
								// max-width: 100%;
							}
					}

				}
				#customer2{
					border:1px solid #008080;
					text-align:center;
					margin-bottom: 5px;
					padding:10px;
					margin-bottom:60px;
					@media all and(min-width:800px){
						width:48%;
						float:right;
						box-sizing:border-box;

					}
					.profile-img{
						border-radius:50%;
						position:relative;
						top:-50px;
					}
					&:after{
						content: '';
						display: block;
						clear: both	;
					}
					div{
						vertical-align: center;
						width:270px;
						margin:0 auto;

						h3{
							padding:0;
							height:50px;
							float:left;
							text-align: center;
							
						}
						img{
								width:130px;
								display: block;
								float:right;
								// max-width: 100%;
							}
					}

					h3{
						img{
							width:150px;
						}
					}
				}
			}
			#customer-right{

				@media all and(min-width:1024px){
					width:49%;
					float:right;
				}

					&:after{
						content: '';
						display: block;
						clear: both	;
					}

				
				#customer3{
					border:1px solid #008080;
					margin-bottom: 5px;
					text-align:center;
					padding:10px;
					margin-bottom:60px;
					.profile-img{
						border-radius:50%;
						position:relative;
						top:-50px;
					}
					@media all and(min-width:800px){
						width:45%;
						float:left;
					}
					&:after{
						content: '';
						display: block;
						clear: both	;
					}
					div{
						vertical-align: center;
						width:270px;
						margin:0 auto;

						h3{
							padding:0;
							height:50px;
							float:left;
							text-align: center;
							
						}
						img{
								width:130px;
								display: block;
								float:right;
								// max-width: 100%;
							}
					}
					h3{
						img{
							width:150px;
						}
					}
				}
				#customer4{
					border:1px solid #008080;
					text-align:center;
					padding:10px;
					@media all and(min-width:800px){
						width:45%;
						float:right;
					}
					.profile-img{
						border-radius:50%;
						position:relative;
						top:-50px;
					}
					&:after{
						content: '';
						display: block;
						clear: both	;
					}
					div{
						vertical-align: center;
						width:270px;
						margin:0 auto;

						h3{
							padding:0;
							height:50px;
							float:left;
							text-align: center;
							font-size: 18px;
							
						}
						img{
								width:150px;
								display: block;
								float:right;
								// max-width: 100%;
							}
					}
					h3{
						img{
							width:150px;
						}
					}
				}
			}
		}
	}
}
// #customers-main-box{
// 	width:95%;
// 	margin:20px auto;
// 	&:after{
// 			content: '';
// 			display: block;
// 			clear: both;
// 		}

// 	h1{
// 		color:white;
// 		width:40%;
// 		margin:0 auto;
// 		padding-bottom:25px;
// 		padding-top:20px;
// 		border-bottom:5px solid #008080;

// 		}
// }
// .customers-box{
// 	border:1px solid #008080;
// 	height:300px;
// 	margin:0 auto;
// 	text-align:center;
// 	padding:0 20px;
// 	height:300px;
// 	box-sizing:border-box;
// 	margin-top:100px;
// 	margin-bottom:100px;
// 	img:not(#five-star){
// 	background-color: #333333;
// 	width: 80px;
// 	height: 80px;
// 	text-align: center;
// 	border-radius: 50%;
// 	position: relative;
// 	top:-40px;
// 	display:block;
// 	margin: 0 auto;
// 	box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
// 	}
	
// 	h3{
// 		color: white;
// 	}
// 	p{
// 		color:white;
// 	}
// }
// #customer-left{
// 	width:66.66%;
	
// }
// #customer-left,#customer1{
// 	float:left;
// }

// #customer1{
// 	width:50%;

// }
// #customer3{
// 	float:right;
// 	width:33.33%;
// }
// #five-star{
// 	width:140px;
// }

// #customer-720{
// 	text-align:center;
// 	@media all and(min-width:820){
		
// 		margin:0 auto;
// 	}
// }

//contact form styles begins here.............................................................................
#contact-main-box{

	background-image:url(../images/cork-wallet.png);



		#contact-box{
			margin:0 auto;
			max-width:80%;


			#form-box{
				padding-top: 30px;
				max-width: 100%;
				text-align:left;
				#send{
								background-color:#e8554e;
								width:150px;
								font-size: 18px;
								padding: 8px 10px;
								border:none;
								// margin-left: 465px;
								text-transform: uppercase;
								color: white;
								border-bottom: 5px solid #9a3834;
								letter-spacing: 3px;
								border-radius: 3px;
							}



				#post{
								border:0;
								padding: 12px 14px;
								box-sizing: border-box;
								border-radius: 3px;
								span{
									display: block;
								}
							}
							#message-box{
									span{
									display: block;
									max-width: 100%;
									}
							}
							#phone-box{
								margin-bottom: 20px;
									span{
									display: block;
									}
							}
							#phone{
								width: 300px;
								height:35px;
								/*background-color: #e1e1db;*/
								border:0;
								padding: 12px 14px;
								box-sizing: border-box;
								border-radius: 3px;
							
							}
				ul{
					padding:0;
					li{
						list-style: none;
						span{
							display: block;
							#name{
								width: 300px;
								height:35px;
								/*background-color: #e1e1db;*/
								border:0;
								padding: 12px 14px;
								box-sizing: border-box;
								border-radius: 3px;
								margin-right: 50px;
							}
							#email{
								width: 300px;
								height:35px;
								/*background-color: #e1e1db;*/
								border:0;
								padding: 12px 14px;
								box-sizing: border-box;
								border-radius: 3px;
							}
							
							

						}
					}
				}
				h1{
					text-align:center;
					font-size: 20px;
					text-transform: uppercase;
				}
				
			}
		}










		//Google Maps styles Starts here.............................................................................................

		#map-main-container{
			margin-top: 80px;
			@media all and(min-width:900px){
				height:700px;
				margin-top: 80px;
			}
			&:after{
					content: '';
					display: block;
					clear:both;
				}
				h1{
					font-size: 25px;
					text-align: center;
					@media all and(min-width:900px){
						margin-bottom: 150px;
					}
				}
			#maps{
				&:after{
					content: '';
					display: block;
					clear:both;
				}
				@media all and(min-width:750px){
					width:60%;
					float:right;
				}

				#map-container {
				max-width:100%;
				height:350px;
				
				}

				
				select {
			  		width:120px;

					}
			}
		}
}		

// footer starts here .........................................................

footer{
	background-color:#36404b;
	padding-left:20px;
	padding-top:20px;
	padding-bottom:20px;

	&:after{
		content: '';
		display: block;
		clear:both;
	}
	#footer-left-box{
		@media all and(min-width:780px){
		float:left;
		width:50%;
		}
		#left-contactus{
			@media all and(min-width:1024px){
				width:50%;
				float:left;
				ul{
					padding-left:20px;
					li{
						line-height:25px;
						span{
							color:#e74c3c;
						}
					}
				}
			}
		}
		#left-services{
			@media all and(min-width:1024px){
				width:50%;
				float:right;
				li{
					line-height: 40px;
				}
			}
		}	
	}

	#footer-right-box{
		@media all and(min-width:780px){
		float:right;
		width:50%;
		}

		#right-support{
			@media all and(min-width:1024px){
				width:40%;
				float:left;
				ul{
					li{
					line-height:40px;
					}
				}	
			}
		}
		#search-box{
			@media all and(min-width:1024px){
				width:50%;
				float:right;
			}

		}

	}
	div{
		p{
			@media all and(min-width:780px){
		width:250px;
		}

			width:320px;
			color: white;
		}
		h3{
			color:white;
			text-transform: uppercase;
		}
	}
	ul{
		list-style-image: url(../images/tick.png);
		li{
			color:white;
		}
	}
	#search-box{
		form{
			div{
				max-width:100%;
				h1{
					font-size: 22px;
				}
				textarea{
					width:200px;
					border-radius:4px;
				}
				
			}
		}
		input:not(#footer-submit){
			width:200px;
			height: 25px;
			border-radius:4px;
			margin-bottom:10px;
		}
	}
}

#footer-submit{
					margin-top: 10px;
					padding:5px 25px;
					border-radius:3px;
					background-color:#e74c3c;
					color:white;
					font-size: 15px;
					pointer:cursor;
				}




















